//----------------------------- Variables

$consistent-gap: 1.5rem;

//----------------------------- General

body {
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

.bold {
  font-weight: bold;
}

.semi-bold {
  font-weight: 600;
}

.normal {
  font-weight: 300;
  font-size: 1rem;
}

img {
  max-width: 100%;
}

//----------------------------- Nav

nav {
    display: flex;
    justify-content: space-between;
    img {
      height: 100px;
      width: auto;
    }
    div:first-of-type {
      width: 25%
    }
    div:last-of-type {
      width: 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
}

//----------------------------- Header

header {
  position: relative;
  z-index: 0;
  div {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
  }
}


//----------------------------- Form


//----------------------------- Get support


//----------------------------- Mail Chimp Form

.mailchimp {
  width: 50%;
}

//----------------------------- Media queries

@media only screen and (max-width: 900px) {
 
}

@media only screen and (max-width: 600px) {
  
}