//----------------------------- Variables

$consistent-gap: 50px;

//----------------------------- General

body {
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

.section-bg {
  background-color: #f8f9f9;
}

.alternative-section-bg {
  background-color: #e2e4e6;
}

img {
  max-width: 100%;
}

//----------------------------- Text

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.7;
}

h1,
h2,
h3, 
h4,
a {
  font-family: "PT Serif";
  font-style: normal;
  font-size: 2rem;
  font-weight: normal;
  margin: 0;
}

h4 {
  font-size: 1.5rem;
}

h1,
h2,
h3 {
  text-align: center;
}

.center {
  text-align: center;
}

.padding-top {
  padding-top: $consistent-gap;
}

.padding-bottom {
  padding-bottom: $consistent-gap;
}

.padding {
  padding: $consistent-gap;
}

.zero-margin {
  margin: 0;
}

//----------------------------- Nav

nav {
  display: flex;
  justify-content: space-between;
  z-index: 100;
  img {
    height: 100px;
    width: auto;
  }
  div:last-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

a {
  font-weight: 500;
  font-size: 1.25rem;
  text-decoration: none;
  color: black;
}

.contact-button {
  background: red;
  padding: 10px 20px;
  border-radius: 5%;
  color: white;
}

.menu-items a {
  margin-left: 50px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  opacity: 0.8;
}

//----------------------------- Header

header {
  position: relative;
  text-align: center;
  z-index: 0;
  max-height: 700px;
  div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    h2 {
      color: white;
      text-transform: uppercase;
      font-size: 2.5rem;
      font-weight: bold;
      line-height: 2.5rem;
    }
  }
  img {
    max-height: 700px;
    width: 100%;
    opacity: 0.6;
    -webkit-transition: opacity 200ms linear;
    -moz-transition: opacity 200ms linear;
    -o-transition: opacity 200ms linear;
    -ms-transition: opacity 200ms linear;
    transition: opacity 200ms linear;
  }
}

//----------------------------- Services

.services {
  display: flex;
  justify-content: space-between;
  div {
    display: flex;
    align-items: center;
    p {
      padding-left: 10px;
      text-align: center;
    }
  }
}

//----------------------------- About

.about {
  display: flex;
  justify-content: space-between;
  div:first-of-type {
    width: 40%;
  }
  div:last-of-type {
    width: 50%;
  }
}

//----------------------------- Credentials

.credentials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  div {
    width: 18%;
  }
  img {
    width: 100;
    border: none;
  }
}

//----------------------------- Contact

.contact {
  .flex {
    display: flex;
    justify-content: space-between;

    div:first-of-type {
      width: 40%;
    }
    div:last-of-type {
      width: 50%;
    }

    label {
      display: block;
    }
  }
}

form {
  input:last-of-type {
    display: block;
    margin-top: 20px;
  }
}

//----------------------------- Footer

footer {
  display: flex;
  justify-content: space-between;
  & > div {
    width: 30%;
  }
  h4 {
    font-weight: 600;
  }
  p {
    font-size: 1rem;
    font-weight: 300;
  }
  img {
    width: 60px;
  }
}

//----------------------------- Typography

/* pt-serif-regular - latin */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt-serif-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('PT Serif'), local('PTSerif-Regular'),
       url('../fonts/pt-serif-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/pt-serif-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/pt-serif-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/pt-serif-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/pt-serif-v11-latin-regular.svg#PTSerif') format('svg'); /* Legacy iOS */
}

/* pt-serif-700 - latin */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/pt-serif-v11-latin-700.eot'); /* IE9 Compat Modes */
  src: local('PT Serif Bold'), local('PTSerif-Bold'),
       url('../fonts/pt-serif-v11-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/pt-serif-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/pt-serif-v11-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/pt-serif-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/pt-serif-v11-latin-700.svg#PTSerif') format('svg'); /* Legacy iOS */
}

/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/open-sans-v17-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Light'), local('OpenSans-Light'),
       url('../fonts/open-sans-v17-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v17-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v17-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v17-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v17-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v17-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('../fonts/open-sans-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v17-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v17-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('../fonts/open-sans-v17-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v17-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v17-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v17-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v17-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}



//----------------------------- Media queries

@media only screen and (max-width: 900px) {
}

@media only screen and (max-width: 600px) {
}
