//----------------------------- Variables

$consistent-gap: 1.5rem;

//----------------------------- General

body {
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

h2, h3 {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.semi-bold {
  font-weight: 600;
}

.normal {
  font-weight: 300;
  font-size: 1rem;
}

img {
  max-width: 100%;
}

//----------------------------- Nav

nav {
    display: flex;
    justify-content: space-between;
    img {
      height: 100px;
      width: auto;
    }
    div:first-of-type {
      width: 25%
    }
    div:last-of-type {
      width: 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
}

//----------------------------- Header

header {
  position: relative;
  text-align: center;
  z-index: 0;
  div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
     img {
       width: 100%;
       max-width: 1200px;
       opacity: 0.5;
     }
  }
}

//----------------------------- Services

.services {
  div {
    display: flex;
    width: 50%;
    margin: 0 auto;
    p {
      margin-left: 50px;
    }
  }
}


//----------------------------- About

.about {
  display: flex;
  justify-content: space-between;
  div:first-of-type {
    width: 40%;
  }
  div:last-of-type {
    width: 50%;
  }
}


//----------------------------- Credentials

.credentials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  div {
    width: 20%;
  }
  img {
    width: 100;
    border: none;
  }
}


//----------------------------- Contact

.contact {
  .flex {
    display: flex;
    justify-content: space-between;

    div:first-of-type {
      width: 40%;
    }
    div:last-of-type {
      width: 50%;
    }

    label {
      display: block;
    }
  }
}

//----------------------------- Footer

footer {
  display: flex;
  justify-content: space-between;
  & > div {
    width: 30%;
  }
}



//----------------------------- Media queries

@media only screen and (max-width: 900px) {
 
}

@media only screen and (max-width: 600px) {
  
}