body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.7rem;
  font-size: 1.2rem;
  margin: 0 auto;
}

.wrapper {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

.section-bg {
  background-color: #f8f9f9;
}

.alternative-section-bg {
  background-color: #e2e4e6;
}

img {
  max-width: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.7;
  max-width: 1700px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
a {
  font-family: "PT Serif";
  font-style: normal;
  font-size: 2rem;
  font-weight: normal;
  margin: 0;
}

h4 {
  font-size: 1.5rem;
}

h1,
h2,
h3 {
  text-align: center;
}

.center {
  text-align: center;
}

.padding-top {
  padding-top: 50px;
}

.padding-bottom {
  padding-bottom: 50px;
}

.padding {
  padding: 50px;
}

.zero-margin {
  margin: 0;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: 0.8;
}

.navbar-container img {
  height: 75px;
  width: 97px;
}

.navbar-container .menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-button {
  background: red;
  padding: 0.5rem 1rem;
  border-radius: 5%;
  color: white;
}

.contact-button:hover {
  color: black;
}

a {
  font-weight: 500;
  font-size: 1.25rem;
  text-decoration: none;
  color: black;
}

a:hover {
  color: red;
}

.menu-items a {
  margin-left: 50px;
}

.toggle-button {
  position: absolute;
  top: 2rem;
  right: 10%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

@media (max-width: 1000px) {
  .toggle-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu-items {
    display: none !important;
    width: 100%;
  }
  nav div:first-of-type {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  nav .menu-items {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 25px;
  }
  nav .menu-items a {
    text-align: center;
    padding: .5rem 1rem;
  }
  .menu-items.active {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

header {
  position: relative;
  text-align: center;
  z-index: 0;
  height: 500px;
}

header .header-image-text {
  position: absolute;
  top: 30%;
  left: 10%;
  z-index: 10;
  line-height: 5rem;
}

header .header-image-text h2 {
  font-size: 4rem;
}

header .header-image-text p {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 3rem;
}

header .header-image-container {
  height: 500px;
  width: 100%;
  position: relative;
  opacity: 0.5;
}

header .header-image-container img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 500px;
}

header .header-image-container .top {
  -webkit-animation-name: cf3FadeInOut;
          animation-name: cf3FadeInOut;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

header .header-image-container .middle {
  -webkit-animation-name: cf3FadeInOut;
          animation-name: cf3FadeInOut;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes cf3FadeInOut {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes cf3FadeInOut {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.services p {
  text-align: center;
  margin-bottom: 0;
  font-weight: bold;
}

.services div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 3rem;
}

.services div img {
  width: 110px;
  height: 149px;
}

.services div p {
  text-align: left;
  padding-left: 2rem;
  width: 80%;
  font-weight: normal;
}

.services div:last-of-type {
  padding-bottom: 0;
}

.del-services p {
  text-align: center;
  margin-bottom: 0;
  font-weight: bold;
}

.del-services div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 1rem;
}

.del-services div img {
  width: 110px;
  height: 149px;
}

.del-services div p {
  text-align: left;
  padding-left: 2rem;
  font-weight: normal;
  width: 50%;
}

.billing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.billing h2 {
  font-size: 1.5rem;
}

.billing div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
}

#about h2 {
  margin-bottom: 2rem;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about div:first-of-type {
  width: 40%;
}

.about div:last-of-type {
  max-width: 50%;
}

.about div:last-of-type p:first-of-type {
  margin-top: 0;
  padding-top: 0;
}

.frank-text h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.7;
}

.credentials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.credentials div {
  width: 18%;
}

.credentials img {
  width: 100;
  border: none;
}

.contact h2 {
  margin-bottom: 2rem;
}

.contact .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .flex div:first-of-type {
  width: 40%;
}

.contact .flex div:last-of-type {
  width: 50%;
}

.contact .flex label {
  display: block;
}

form label {
  display: block;
}

form button {
  display: block;
  margin-top: 20px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer > div {
  width: 30%;
}

footer h4 {
  font-weight: 600;
}

footer p {
  font-size: 1.2rem;
  font-weight: 300;
}

footer a {
  font-family: "Open Sans";
  font-size: 1.1rem;
  color: red;
}

footer img {
  width: 60px;
}

/* pt-serif-regular - latin */
@font-face {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-serif-v11-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("PT Serif"), local("PTSerif-Regular"), url("../fonts/pt-serif-v11-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/pt-serif-v11-latin-regular.woff2") format("woff2"), url("../fonts/pt-serif-v11-latin-regular.woff") format("woff"), url("../fonts/pt-serif-v11-latin-regular.ttf") format("truetype"), url("../fonts/pt-serif-v11-latin-regular.svg#PTSerif") format("svg");
  /* Legacy iOS */
}

/* pt-serif-700 - latin */
@font-face {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-serif-v11-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("PT Serif Bold"), local("PTSerif-Bold"), url("../fonts/pt-serif-v11-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/pt-serif-v11-latin-700.woff2") format("woff2"), url("../fonts/pt-serif-v11-latin-700.woff") format("woff"), url("../fonts/pt-serif-v11-latin-700.ttf") format("truetype"), url("../fonts/pt-serif-v11-latin-700.svg#PTSerif") format("svg");
  /* Legacy iOS */
}

/* open-sans-300 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/open-sans-v17-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Light"), local("OpenSans-Light"), url("../fonts/open-sans-v17-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v17-latin-300.woff2") format("woff2"), url("../fonts/open-sans-v17-latin-300.woff") format("woff"), url("../fonts/open-sans-v17-latin-300.ttf") format("truetype"), url("../fonts/open-sans-v17-latin-300.svg#OpenSans") format("svg");
  /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v17-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../fonts/open-sans-v17-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v17-latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v17-latin-regular.woff") format("woff"), url("../fonts/open-sans-v17-latin-regular.ttf") format("truetype"), url("../fonts/open-sans-v17-latin-regular.svg#OpenSans") format("svg");
  /* Legacy iOS */
}

/* open-sans-700 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/open-sans-v17-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/open-sans-v17-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v17-latin-700.woff2") format("woff2"), url("../fonts/open-sans-v17-latin-700.woff") format("woff"), url("../fonts/open-sans-v17-latin-700.ttf") format("truetype"), url("../fonts/open-sans-v17-latin-700.svg#OpenSans") format("svg");
  /* Legacy iOS */
}
/*# sourceMappingURL=style.css.map */